.image{
    width: 160px;
    height: 140px;
}
nav{
  display: flex;
  background-color: black;
  
 

}
 nav ul{
    display: flex;
    list-style-type: none;
    
    
    
}
nav ul li{
    margin: 40px 40px;
    padding: 0 10px;

   
   
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.size{
    font-size: 50px;
    text-align: center;
}
h3{
    font-size: 25px;
    text-align: center;

}
.fly{
    width: 600px;
    height: 300px;
    padding-left: 300px;

}
.diff{
    background-color: black;
    color: red;
    padding-bottom: 11px;
    font-size: 17px;
    
    
}
.diff a{
    text-decoration: none;
    color: white;
    padding-bottom: 30px;
    
}
.last{
    text-align: center;
}
